.third-div{
    display: flex;
    background-color: var(--color-secondry);
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    font-size: 1.4rem;
    width: 100%;
    padding-top: 2.6rem;
    padding-bottom: 3rem;
}
.third-div-top {
    margin-bottom: 2rem;
    font-weight: 800;
}
.third-buttom {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 45rem;
    text-align: center;
}
